# Copy these into Render Environment or a local .env file if running locally
SAM_API_KEY=vyd7C0dC3fY38MIq6MyrQgXSo0bHcoljgauKk6Sx
SITE_ORIGIN=https://galactly.com
VAPID_PUBLIC_KEY=REPLACE_ME
VAPID_PRIVATE_KEY=REPLACE_ME
REDDIT_ENABLED=true
RSS_FEEDS=https://www.txsmartbuy.com/esbd/rss
